NET "clk" LOC = "V10" | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "enDo" LOC = "K18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "enRe" LOC = "K17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "enMi" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "enFa" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "enSol" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "enLa" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "out[0]" LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "out[1]" LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "out[2]" LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "out[3]" LOC = "L15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

